*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
.form-Disign{
    max-width: 350px;
    width: 100%;
    position: absolute;
    display: none;
    background-color: black;
    margin-top: 25px;
}
.list-task{
    display: flex;
    justify-content: space-evenly;
}