*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
body{
    background-color: rgba(22, 20, 20, 0.748);
}
.form-Disign{
    max-width: 350px;
    width: 100%;
    position: absolute;
    display: none;
    background-color: black;
    margin-top: 25px;
}
.list-task{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    margin-top: 15px;
}
.list-task li{
    text-align: center;
    margin-top: 20px;
}
.status{
    padding: 20px 0;
    border-radius: 15px;
    color: white;
}
.colorOne{
    background-color: blue;
    padding: 15px;
}
.colorTwo{
    background-color: rgb(253 193 40);
    padding: 15px;
}
.colorThre{
    background-color: rgb(253, 150, 40);
    padding: 15px;
}
.colorFore{
    background-color: rgb(28, 188, 74);
    padding: 15px;
}
.add-button-block{
    display: flex;
    justify-content: center;
    align-items: center;
}
.add-button{
    background-color: maroon;
    color: white;
    border: none;
    padding: 10px 15px;
    margin-top: 25px;
    border-radius: 25px;
    font-size: 15px;
}